<div class="col-xs-12 bee-main">
  <div class="bee-container">
    <div class="flex-center col-xs-12 no-padding">
      <div class="col-xs-6 flex-center no-padding">
        <img
           [ngClass]="{'bee-active': active}"
           (click)="sendBee()"
           class="img-responsive img-rounded bee-avatar"
           [src]="bee.getAvatarUrl()"
           alt="avatar"
           popover="Click for user data"
           placement="right"
           triggers="mouseenter:mouseleave"
           container="body">
        <p popover="Click for info"
           placement="right"
           triggers="mouseenter:mouseleave"
           container="body"
           class="bee-name"
           (click)="smModal.show()">
           {{bee.getUserName()}}
        </p>
      </div>
      <div class="col-xs-6 flex-center no-padding hidden-sm hidden-md hidden-lg">
        <button class="btn btn-success bee-button" (click)="posts()">Posts</button>
        <button class="btn btn-success bee-button" (click)="albums()">Albums</button>
        <button class="btn btn-success bee-button" (click)="todos()">Todos</button>
      </div>
    </div>
  </div>
  <hr>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="col-xs-12 modal-title pull-left">{{bee.getUserName()}}</h3>
        <h4 class="col-xs-12 modal-title">{{bee.getName()}}</h4>
      </div>
      <div class="modal-body">
        <span class="flex-center">
          <img class="img-circle img-responsive bee-modal-image" [src]="bee.getAvatarUrl()" alt="big-avatar">
        </span>
        <hr>
        <main class="bee-modal-info">
          <p class="bee-modal-text"><strong>E-mail:</strong> {{bee.getEmail()}}</p>
          <p class="bee-modal-text"><strong>Company:</strong> {{bee.company.getName()}}</p>
          <p class="bee-modal-text"><strong>Phone: </strong> {{bee.getPhone()}}</p>
          <a href="{{website}}" class="bee-modal-text">{{bee.getWebsite()}}</a>
        </main>
      </div>
    </div>
  </div>
</div>
