input[type=checkbox]{
    display: none;
}

 input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}

input[type=checkbox]:checked + label{
  background-position: left -32px;
}

label{
 background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_d2a60beb8fb6bbb280642579049ebf65.png);

}

.checked {
  text-decoration: line-through;
  opacity: 0.6;
}
